
body {
    font-family: 'Prompt', sans-serif;
    line-height : 1.7em;
    font-weight : 100;
    border-top      : 40px solid #008A6D;
    height: auto;
    background-color: #E2EAE7; 
    }
#foto {
    height: 30vh;
    opacity: 0.9;
}
h1, h2, h3, h4, h5, h6 {
    margin : 0 0 15px;
    color  : #008A6D;
    }

h1 {
    font-size   : 30px;
    line-height : 1em;
    font-weight : 700;
    color: #008A6D;
    text-align: center;
    margin-bottom: 100px;
    }

h2 {
    font-size   : 22px;
    line-height : 1.5em;
    font-weight : 400;
     color: #008A6D;
    text-align:center;
    }

h3 {
    font-size   : 16px;
    line-height : 2em;
    color: black;
    text-align:left;
   
    }
h4{
    text-align: center;
    color: black;
    font-size: 13px;
    font-weight: bold;
}


a {

    text-decoration    : none;
    -webkit-transition : all 0.3s ease 0s;
    -moz-transition    : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    transition         : all 0.3s ease 0s;
    padding        : 10px 30px;
    margin-bottom  : 0;
    font-size      : 16px;
    border-radius  : 0;
    font-weight    : 500;
    border-width   : 2px;
    text-transform : uppercase;
     background-color : #008A6D;
    border-color     : #008A6D;
    color: #E2EAE7;
    border-radius: 20px;
    }
a,
a:active,
a:focus,
a:active {

    color        : #E2EAE7;
     background-color : #008A6D;
    border-color     : #008A6D;
    }

a:hover,
a:focus {
    text-decoration: none;
       background-color : #E2EAE7;
    color            : #008A6D;
    }

#traco {
    width: 100%;
    align-content: center;
    align-self: center;
}
#traco1 {width: 500px;
margin-bottom: 50px;}
.gray-bg {
    background-color :  #E2EAE7;
    border-top       : 1px solid #eeeeee;
    border-bottom    : 1px solid #eeeeee;
    }

.white-bg {
    background-color :  #E2EAE7;
    }


#main-wrapper {
    background :  #E2EAE7;
    overflow   : hidden;
    }

#section-parceiros {
    margin-top: 100px;
    width: 100%;
    align-content: center;
    align-self: center;
    align-items: center;
    vertical-align: middle;
}
.client-logo img {
    width              : 220px;
    vertical-align: middle;
    height: 100%;
    background-blend-mode: multiply;
     padding: 50px;
    align-content: center;
    }


@media (max-width : 992px) {
    #section-parceiros {
    width: 100%;
    align-content: center;
    align-self: center;
    align-items: center;
    vertical-align: middle;
}
    .client-logo img {
    width              : 100%;
     margin-left: 0;
    align-content: center;
    background-blend-mode: multiply;
     padding:0;
    align-items: center;
    }
    .col-md-3 {
        align-content: center;
        align-items: center;
        align-self: center;
        width: 100%;
        padding: 20%;
    }
   
    }



@media (max-width : 600px) {
    body {
        height:100%;
        border: none;
    }
    h1 {
    font-size   : 25px;
    line-height : 1.2em;
    font-weight : 700;
    color: #008A6D;
    }

h2 {
    font-size   : 18px;
    line-height : 1.5em;
    font-weight : 400;
     color: #008A6D;
    text-align: center;
    }

h3 {
    font-size   : 12px;
    line-height : 2em;
    color: black;
    text-align: center;
   
    }
h4{
    text-align: center;
    color: black;
    font-size: 12px;
    font-weight: bold;
}

    .jumbotron .content {
        min-height : auto;

        }
    a {
    visibility: collapse;
    }

    #traco1 {width: 200px;}}

